@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Space+Grotesk:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "space grotesk", arial;
}

:root {
  /*Nav & body color palette*/
  --nav-clr: hsl(205, 32%, 30%);
  --nav-btn-clr: hsl(218, 21%, 21%);
  --nav-btn-border-clr: hsl(218, 21%, 11%);

  --nav-btn-accent-clr: hsl(22, 99%, 63%);
  --nav-btn-accent-border-clr: hsl(22, 99%, 43%);

  --body-clr: hsl(205, 23%, 41%);
  /* Grid color palette*/
  --default-cell-clr: hsl(40, 12%, 71%);
  --cell-checking-clr: hsl(204, 76%, 61%);
  --visited-cell-clr: hsl(0, 0%, 39%);
  --final-path-cell-clr: hsl(47, 100%, 67%);
  --wall-cell-clr: hsl(0, 0%, 21%);
  --starting-cell-clr: hsl(161, 82%, 24%);
  --ending-cell-clr: hsl(355, 100%, 38%);

  /* Cell width*/
  --cell-width-large: 90px;
  --cell-width-small: 60px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  z-index: 2;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--nav-clr);
  padding-left: 1.5rem;
}

.btn,
.algos-container {
  background-color: var(--nav-btn-clr);
  border: 1px solid var(--nav-btn-border-clr);
  color: white;
  font-size: 1.5rem;
  padding: 0.25em 0.75em;
  border-radius: 0.5rem;
  margin: 1rem 0.5rem 1rem 0;
  cursor: pointer;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  background-color: var(--nav-btn-border-clr);
  box-shadow: 0 0 8px 0 var(--nav-btn-border-clr);
}

.btn:disabled {
  background-color: dimgrey;
  box-shadow: none;
  cursor: not-allowed;
  border: 1px solid dimgrey;
}

.btn-accent {
  background-color: var(--nav-btn-accent-clr);
  border-color: var(--nav-btn-accent-border-clr);
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: var(--nav-btn-accent-border-clr);
  box-shadow: 0 0 8px 0 var(--nav-btn-accent-border-clr);
}

/*Main content CSS*/

.main {
  background-color: var(--body-clr);
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.grid-node {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cells-container {
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2px;
  overflow-x: auto;
  min-height: 95%;
  min-width: 90%;
}

.cells-container-small-nodes {
  grid-template-columns: repeat(auto-fill, var(--cell-width-small));
}

.cells-container-large-nodes {
  grid-template-columns: repeat(auto-fill, var(--cell-width-large));
}

.node {
  background-color: var(--default-cell-clr);
  border: 1px solid grey;
  display: inline-block;
  margin: 0;
}

.start-node {
  background-color: var(--starting-cell-clr);
}

.end-node {
  background-color: var(--ending-cell-clr);
}

.visited-node {
  background-color: var(--visited-cell-clr);
}

.visited-node-animation {
  animation: visited-node-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes visited-node-animation {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
    background-color: hsl(204, 76%, 61%);
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
    background-color: hsl(204, 76%, 61%);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

@keyframes re-visited-animation {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
    background-color: hsl(204, 76%, 61%);
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
    background-color: hsl(204, 76%, 61%);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.final-path-node {
  background-color: var(--final-path-cell-clr);
}

.final-path-animation {
  animation: final-path-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes final-path-animation {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.wall-node {
  background-color: var(--wall-cell-clr);
}

@keyframes adding-walls-animation {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    background-color: var(--final-path-cell-clr);
  }

  10% {
    transform: rotate(8deg);
    background-color: hsl(47, 100%, 77%);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
    background-color: hsl(47, 100%, 77%);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
    background-color: hsl(47, 100%, 77%);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

.node-small {
  height: var(--cell-width-small);
  width: var(--cell-width-small);
}

.node-large {
  height: var(--cell-width-large);
  width: var(--cell-width-large);
}

.side-bar {
  border-left: 1px solid var(--nav-clr);
  max-width: 15rem;
}

/*Cell Size toggle css (src before modification: https://www.w3schools.com/howto/howto_css_switch.asp)*/
.switch {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 36px;
  height: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End of cell size toggle CSS*/

/*Sidebar CSS*/
.side-bar .header {
  color: white;
  background-color: var(--body-clr);
  padding: 1em 1em 1em 0;
}

.side-bar .instruction-item {
  color: hsl(40, 12%, 81%);
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2rem;
}

.path-score {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.path-score h3 {
  color: hsl(40, 12%, 81%);
  padding-left: 0.5em;
}

.path-score input {
  width: 3rem;
  margin-right: 0.5em;
  border-radius: 0.3em;
  background-color: #ccc;
  border: 1px solid black;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
